.buttonCopy {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}


.bruhDiv{
    border-radius: 10px;
    border: 0px;
    color: white;
    background-color: rgb(15, 15, 15);
    height: auto;
    width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.H1{
    color:rgb(143, 40, 212);
}
